
<link rel="stylesheet" href="css/pages/account-info.css">
<div class="content">
    <div class="account-info">
        <div class="account-info__header">Thông tin tài khoản</div>
        <div class="account-info__info">
            <div class="account-info__info__group row">
                <div class="col-12 col-sm-3 p-0 account-info__info__label">Tên</div>
                <div class="col-9 p-0 account-info__info__value">Lê Anh Tuấn</div>
                <div class="col-3 p-0 text-right">
                    <a href="#">Cập nhật</a>
                </div>
            </div>
            <div class="account-info__info__group row">
                <div class="col-12 col-sm-3 p-0 account-info__info__label">Tên tài khoản</div>
                <div class="col-12 col-sm-7 p-0 account-info__info__value">tuan19942019</div>
            </div>
            <div class="account-info__info__group row">
                <div class="col-12 col-sm-3 p-0 account-info__info__label">Email</div>
                <div class="col-9 col-sm-7 p-0 account-info__info__value">tuandsn94@gmail.com</div>
                <div class="col-3 col-sm-2 p-0 text-right">
                    <a href="#">Cập nhật</a>
                </div>
            </div>
            <div class="account-info__info__group row">
                <div class="col-12 col-sm-3 p-0 account-info__info__label">Link Facebook</div>
                <div class="col-9 col-sm-7 p-0 account-info__info__value">facebook.com/leanhtuan94</div>
                <div class="col-3 col-sm-2 p-0 text-right">
                    <a href="#">Cập nhật</a>
                </div>
            </div>
        </div>
    </div>
    <div class="right-menu">
    </div>
</div>