<div class="account-balance">
    <div class="account-balance__title">Mức tài khoản hiện tại</div>
    <div class="account-balance__large-title">Cộng tác viên</div>
    <div class="account-balance__title">Số dư tài khoản</div>
    <div class="account-balance__amount has-border">
        <span>1.234.567</span>
        <img src="images/currency.png" alt="">
    </div>
    <div class="account-balance__title">Tổng số tiền đã nạp</div>
    <div class="account-balance__amount has-border">
        <span>1.234.567</span>
        <img src="images/currency.png" alt="">
    </div>
    <div class="account-balance__title filter">
        Tổng số tiền đã chi tiêu
        <div id="amount_filter" class="amount-filter">
            <span class="amount-filter__text">Tháng</span>
            <i class="fas fa-caret-down"></i>
        </div>
        <div style="display: none;" id="amount_filter_select" class="amount-filer-items">
            <ul>
                <li data-value="month">Tháng</li>
                <li data-value="day">Ngày</li>
                <li data-value="year">Năm</li>
                <li data-value="all">Tất cả</li>
            </ul>
        </div>
    </div>
    <div class="account-balance__amount">
        <span>1.234.567</span>
        <img src="images/currency.png" alt="">
    </div>
</div>