<link rel="stylesheet" href="css/pages/contact.css">
<div class="content">
    <div class="contact">
        <div class="row m-0">
            <a href="#" class="col-lg-3 col-md-6 col-6 d-block text-center">
                <div class="contact__name">Facebook Cá Nhân</div>
                <img class="contact__icon" src="images/contact-fb.png" alt="">
            </a>
            <a href="#" class="col-lg-3 col-sm-6 col-6 d-block text-center">
                <div class="contact__name">Group Facebook</div>
                <img class="contact__icon" src="images/contact-group-fb.png" alt="">
            </a>
            <a href="#" class="col-lg-3 col-sm-6 col-6 d-block text-center">
                <div class="contact__name">Fanpage Facebook</div>
                <img class="contact__icon" src="images/contact-fanpage-fb.png" alt="">
            </a>
            <a href="#" class="col-lg-3 col-sm-6 col-6 d-block text-center">
                <div class="contact__name">Group Zalo</div>
                <img class="contact__icon" src="images/contact-zalo.png" alt="">
            </a>
        </div>
        <div class="row m-0">
            <div class="contact__guide__title text-center">Cách liên hệ hỗ trợ qua Facebook</div>
            <div class="contact__guide__text">
                - Bạn sẽ Chat trực tiếp với support trực tiếp qua trình nhắn tin cá nhân của facebook. Đây là một trong những vấn đề mà rất nhiều người dùng gặp phải khi chạy ads, facebook có một trang hỗ trợ riêng, bạn vào link: https://www.facebook.com/help/contact/531795380173090, điền các thông tin vào Form và ấn Gửi.
            </div>
        </div>
    </div>
    <div class="contact__warning">
        <div class="contact__warning__header">Chú ý:</div>
        <div class="contact__warning__content">
            <ul class="m-0">
                <li>Trong quá trình sử dụng Facebook, ít nhất một lần bạn gặp phải các sự cố phát sinh ảnh hưởng đến tài khoản
                    cá nhân hoặc việc kinh doanh mà không biết nguyên nhân của vấn đề đến từ đâu chính lúc này bạn sẽ cần phải
                    biết những Cách liên hệ với đội ngũ hỗ trợ Facebook. </li>
                <li>Hãy nhớ rằng trước khi nhờ đến đội ngũ Facebook hỗ trợ những vấn đề bạn gặp phải thì hãy tìm hiểu kĩ về các
                    chính sách hoạt động của Facebook để có thể tự giải quyết vấn đề của mình một cách nhanh nhất.</li>
            </ul>
        </div>
    </div>
</div>