<link rel="stylesheet" href="css/pages/get-id.css">
<div class="content">
    <div class="get-id">
        <div class="get-id__section">
            <div class="get-id__header text-center">Lấy ID Profile, FanPage, Group</div>
            <div class="get-id__form">
                <div class="get-id__header">Nhập Link</div>
                <div class="get-id__form__group mb-3">
                    <input class="get-id__form__input" type="text" name="link" placeholder="https://www.facebook.com/profile.php?id=100010476078980">
                    <button class="get-id__form__btn">Tìm kiếm</button>
                </div>
                <div class="get-id__header">ID</div>
                <div class="get-id__form__group">
                    <input class="get-id__form__input profile-id" readonly type="text" name="id" value="100010476078980">
                    <button class="get-id__form__btn">Sao chép</button>
                </div>
            </div>
        </div>
        <div class="get-id__section">
            <div class="get-id__header text-center">Lấy ID Bài viết</div>
            <div class="get-id__form">
                <div class="get-id__header">Nhập Link</div>
                <div class="get-id__form__group mb-3">
                    <input class="get-id__form__input" type="text" name="link" placeholder="https://www.facebook.com/profile.php?id=100010476078980">
                    <button class="get-id__form__btn">Tìm kiếm</button>
                </div>
                <div class="get-id__header">ID</div>
                <div class="get-id__form__group">
                    <input class="get-id__form__input profile-id" readonly type="text" name="id" value="100010476078980">
                    <button class="get-id__form__btn">Sao chép</button>
                </div>
            </div>
        </div>
        <div class="get-id__section">
            <div class="get-id__header text-center">Lấy ID Instagram</div>
            <div class="get-id__form">
                <div class="get-id__header">Nhập Link</div>
                <div class="get-id__form__group mb-3">
                    <input class="get-id__form__input" type="text" name="link" placeholder="https://www.facebook.com/profile.php?id=100010476078980">
                    <button class="get-id__form__btn">Tìm kiếm</button>
                </div>
                <div class="get-id__header">ID</div>
                <div class="get-id__form__group">
                    <input class="get-id__form__input profile-id" readonly type="text" name="id" value="100010476078980">
                    <button class="get-id__form__btn">Sao chép</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="right-menu"></div>