<link rel="stylesheet" href="css/pages/guide-detail.css">
<div class="content">
    <div class="guide-detail">
        <div class="guide-detail__header text-center">Hướng dẫn lấy ID Profile, Fanpage, Group</div>
        <div class="guide-detail__step">
            <strong>Bước 1:</strong>
            Vào page lấy ID ở mục tài khoản
        </div>
        <div class="w-100 mb-3 text-center">
            <img class="img-fluid" src="images/guide/guide-6/1.png" alt="">
        </div>
        <div class="guide-detail__step">
            <strong>Bước 2:</strong>
            Ở mục lấy ID Profile, Fanpage, Group tiến hành nhập link facebook cần lấy ID và bấm vào ô tìm kiếm
        </div>
        <div class="w-100 mb-3 text-center">
            <img class="img-fluid" src="images/guide/guide-6/2.png" alt="">
        </div>
        <div class="guide-detail__step mb-3">
            <strong>Bước 3:</strong>
            Ở bảng này sẽ hiện ra ô có ID của bạn, sau đó tiến hành sao chép ID
        </div>
        <div class="w-100 mb-3 text-center">
            <img class="img-fluid" src="images/guide/guide-6/3.png" alt="">
        </div>
        <div class="guide-detail__step">
            <strong>Lưu ý:</strong>
            Nếu không hiện ID vui lòng thử lại hoặc liên hệ Fanpage
        </div>
    </div>
</div>
<div class="right-menu"></div>