<link rel="stylesheet" href="css/pages/guide-detail.css">
<div class="content">
    <div class="guide-detail">
        <div class="guide-detail__header text-center">Hướng dẫn công khai ảnh đại diện hoặc ảnh bìa</div>
        <div class="guide-detail__step">
            <strong>Bước 1:</strong>
            Vào tab cài đặt tìm đến tab quyền riêng tư
        </div>
        <div class="w-100 mb-3 text-center">
            <img class="img-fluid" src="images/guide/guide-2/1.png" alt="">
        </div>
        <div class="guide-detail__step">
            <strong>Bước 2:</strong>
            Ở tab quyền riêng tư tìm đến tab bài viết công khai
        </div>
        <div class="w-100 mb-3 text-center">
            <img class="img-fluid" src="images/guide/guide-2/2.png" alt="">
        </div>
        <div class="guide-detail__step">
            <strong>Bước 3:</strong>
            Ở tab bài viết công khai lần lượt để mọi người và công khai ở 3 dòng: Bình luận về bìa viết công khai, Thông báo về bài viết công khai, Thông tin cá nhân công khai
        </div>
        <div class="w-100 text-center">
            <img class="img-fluid" src="images/guide/guide-2/3.png" alt="">
        </div>
    </div>
</div>
<div class="right-menu"></div>
