<link rel="stylesheet" href="css/pages/guide.css">
<div class="content">
    <div class="guide">
        <div class="guide__section">
            <div class="guide__header">Hướng dẫn lấy ID</div>
            <a href="#" class="guide__link">Lấy ID Profile, FanPage, Group</a>
            <a href="#" class="guide__link">Lấy ID Bài viết</a>
            <a href="#" class="guide__link">Lấy ID Instagram</a>
        </div>
        <div class="guide__section">
            <div class="guide__header">Hướng dẫn lấy Link Facebook</div>
            <a href="#" class="guide__link">Hướng dẫn lấy Link Facebook trên máy tính</a>
            <a href="#" class="guide__link">Hướng dẫn lấy Link Facebook trên mobile app</a>
        </div>
        <div class="guide__section">
            <div class="guide__header mb-3">Hướng dẫn sử dụng các link hợp lệ</div>
            <div class="guide__text mb-3">
                - Bạn sẽ Chat trực tiếp với support trực tiếp qua trình nhắn tin cá nhân của facebook. Đây là một trong những vấn đề mà rất nhiều người dùng gặp phải khi chạy ads, facebook có một trang hỗ trợ riêng, bạn vào link: https://www.facebook.com/help/contact/531795380173090, điền các thông tin vào Form và ấn Gửi.
            </div>
            <div class="guide__header mb-3">List các dạng link hợp lệ</div>
            <div class="guide__text mb-1">- https://www.facebook.com/user_name_or_profile_id/posts/xxxxxxx</div>
            <div class="guide__text mb-1">- https://m.facebook.com/user_name_or_profile_id/posts/xxxxxxx</div>
            <div class="guide__text mb-1">- https://m.facebook.com/story.php?story_fbid=xxxxxxx&id=profile_id</div>
        </div>
        <div class="guide__section">
            <div class="guide__header">Hướng dẫn công khai ảnh bìa hoặc ảnh đại diện</div>
            <a href="#" class="guide__link">Hướng dẫn chi tiết</a>
        </div>
    </div>
</div>
<div class="right-menu">
</div>