<link rel="stylesheet" href="css/pages/guide-detail.css">
<div class="content">
    <div class="guide-detail">
        <div class="guide-detail__header text-center">Hướng dẫn lấy link facebook trên giao diện máy tính</div>
        <div class="guide-detail__step">
            <strong>Bước 1:</strong>
            Đi tới bài viết cần lấy link, bấm vào chỗ hiện thời gian đăng bài
        </div>
        <div class="w-100 mb-3 text-center">
            <img class="img-fluid" src="images/guide/guide-1/1.png" alt="">
        </div>
        <div class="guide-detail__step">
            <strong>Bước 2:</strong>
            Tiến hành copy link ở trên thanh đường dẫn của trình duyệt
        </div>
        <div class="w-100 text-center">
            <img class="img-fluid" src="images/guide/guide-1/2.png" alt="">
        </div>
    </div>
</div>
<div class="right-menu"></div>