<link rel="stylesheet" href="css/pages/guide-detail.css">
<div class="content">
    <div class="guide-detail">
        <div class="guide-detail__header text-center">Hướng dẫn lấy link facebook trên giao diện app điện thoại</div>
        <div class="guide-detail__step">
            <strong>Bước 1:</strong>
            Tiến hành tìm đến bài viết cần lấy link
        </div>
        <div class="w-100 mb-3 text-center">
            <img class="img-fluid" src="images/guide/guide-3/1.png" alt="">
        </div>
        <div class="guide-detail__step">
            <strong>Bước 2:</strong>
            Bấm vào nút chia sẻ, tìm đến nút tuỳ chọn khác
        </div>
        <div class="w-100 mb-3 text-center">
            <img class="img-fluid" src="images/guide/guide-3/2.png" alt="">
        </div>
        <div class="guide-detail__step">
            <strong>Bước 3:</strong>
            Bấm vào nút sao chép, bạn đã hoàn thành việc lấy link bài viết thành công
        </div>
        <div class="w-100 mb-3 text-center">
            <img class="img-fluid" src="images/guide/guide-3/3.png" alt="">
        </div>
        <div class="guide-detail__step">
            <strong>Lưu ý:</strong>
            Ở giao diện Facebook App Androi, sau khi tìm đến bài viết bạn bấm vào nút 3 chấm, sau đó tìm tới nút sao chép là đã hoàn thành
        </div>
    </div>
</div>
<div class="right-menu"></div>