<link rel="stylesheet" href="css/pages/network-history.css">
<div class="recharge-history">
    <div class="recharge-history__header">Nhật ký nạp tiền</div>
    <div class="recharge-history__item">
        <div class="recharge-history__item__header">1. VIETTEL</div>
        <div class="recharge-history__item__info d-flex">
            <span>Tên tài khoản: chungzet</span>
            <span class="recharge-history__item__status">Hủy</span>
        </div>
        <div class="recharge-history__item__info">Mã thẻ: 123456789</div>
        <div class="recharge-history__item__info">Số Se-ri: 123456789</div>
        <div class="recharge-history__item__info">Nội dung: TUAN NAP TIEN</div>
        <div class="recharge-history__item__info">Mã đơn hàng: 1234567890</div>
        <div class="recharge-history__item__info d-flex">
            <span>21/02/2021 - 10:36</span>
            <span class="recharge-history__item__price">500.000&nbsp;<span class="history__item__price__currency">vnđ</span></span>
        </div>
    </div>
    <div class="recharge-history__item">
        <div class="recharge-history__item__header">2. MOBIFONE</div>
        <div class="recharge-history__item__info d-flex">
            <span>Tên tài khoản: chungzet</span>
            <span class="recharge-history__item__status">Đã nạp</span>
        </div>
        <div class="recharge-history__item__info">Mã thẻ: 123456789</div>
        <div class="recharge-history__item__info">Số Se-ri: 123456789</div>
        <div class="recharge-history__item__info">Nội dung: TUAN NAP TIEN</div>
        <div class="recharge-history__item__info">Mã đơn hàng: 1234567890</div>
        <div class="recharge-history__item__info d-flex">
            <span>21/02/2021 - 10:36</span>
            <span class="recharge-history__item__price">500.000&nbsp;<span class="history__item__price__currency">vnđ</span></span>
        </div>
    </div>
    <div class="recharge-history__item">
        <div class="recharge-history__item__header">3. VIETTEL</div>
        <div class="recharge-history__item__info d-flex">
            <span>Tên tài khoản: chungzet</span>
            <span class="recharge-history__item__status">Đã nạp</span>
        </div>
        <div class="recharge-history__item__info">Mã thẻ: 123456789</div>
        <div class="recharge-history__item__info">Số Se-ri: 123456789</div>
        <div class="recharge-history__item__info">Nội dung: TUAN NAP TIEN</div>
        <div class="recharge-history__item__info">Mã đơn hàng: 1234567890</div>
        <div class="recharge-history__item__info d-flex">
            <span>21/02/2021 - 10:36</span>
            <span class="recharge-history__item__price">500.000&nbsp;<span class="history__item__price__currency">vnđ</span></span>
        </div>
    </div>
    <div class="recharge-history__item">
        <div class="recharge-history__item__header">4. VINAPHONE</div>
        <div class="recharge-history__item__info d-flex">
            <span>Tên tài khoản: chungzet</span>
            <span class="recharge-history__item__status">Hủy</span>
        </div>
        <div class="recharge-history__item__info">Mã thẻ: 123456789</div>
        <div class="recharge-history__item__info">Số Se-ri: 123456789</div>
        <div class="recharge-history__item__info">Nội dung: TUAN NAP TIEN</div>
        <div class="recharge-history__item__info">Mã đơn hàng: 1234567890</div>
        <div class="recharge-history__item__info d-flex">
            <span>21/02/2021 - 10:36</span>
            <span class="recharge-history__item__price">500.000&nbsp;<span class="history__item__price__currency">vnđ</span></span>
        </div>
    </div>
    <div class="recharge-history__item">
        <div class="recharge-history__item__header">5. VINAPHONE</div>
        <div class="recharge-history__item__info d-flex">
            <span>Tên tài khoản: chungzet</span>
            <span class="recharge-history__item__status">Đã nạp</span>
        </div>
        <div class="recharge-history__item__info">Mã thẻ: 123456789</div>
        <div class="recharge-history__item__info">Số Se-ri: 123456789</div>
        <div class="recharge-history__item__info">Nội dung: TUAN NAP TIEN</div>
        <div class="recharge-history__item__info">Mã đơn hàng: 1234567890</div>
        <div class="recharge-history__item__info d-flex">
            <span>21/02/2021 - 10:36</span>
            <span class="recharge-history__item__price">500.000&nbsp;<span class="history__item__price__currency">vnđ</span></span>
        </div>
    </div>
    <div class="recharge-history__item">
        <div class="recharge-history__item__header">6. VIETTEL</div>
        <div class="recharge-history__item__info d-flex">
            <span>Tên tài khoản: chungzet</span>
            <span class="recharge-history__item__status">Đã nạp</span>
        </div>
        <div class="recharge-history__item__info">Mã thẻ: 123456789</div>
        <div class="recharge-history__item__info">Số Se-ri: 123456789</div>
        <div class="recharge-history__item__info">Nội dung: TUAN NAP TIEN</div>
        <div class="recharge-history__item__info">Mã đơn hàng: 1234567890</div>
        <div class="recharge-history__item__info d-flex">
            <span>21/02/2021 - 10:36</span>
            <span class="recharge-history__item__price">500.000&nbsp;<span class="history__item__price__currency">vnđ</span></span>
        </div>
    </div>
    <a href="#" class="recharge-history__loadmore">
        <span>Xem thêm&nbsp;<i class="fas fa-caret-down"></i></span>
    </a>
</div>