<link rel="stylesheet" href="css/pages/recharge-history.css">
<div class="recharge-history">
    <div class="recharge-history__header">Nhật ký nạp tiền</div>
    <div class="recharge-history__item">
        <div class="recharge-history__item__header">1. VIETCOMBANK</div>
        <div class="recharge-history__item__info">Tên tài khoản: chungzet</div>
        <div class="recharge-history__item__info">Nội dung: TUAN CHUYEN KHOAN</div>
        <div class="recharge-history__item__info">Mã đơn hàng: 1234567890</div>
        <div class="recharge-history__item__info d-flex">
            <span>21/02/2021 - 10:36</span>
            <span class="recharge-history__item__price">500.000&nbsp;<span class="history__item__price__currency">vnđ</span></span>
        </div>
    </div>
    <div class="recharge-history__item">
        <div class="recharge-history__item__header">2. VIETCOMBANK</div>
        <div class="recharge-history__item__info">Tên tài khoản: chungzet</div>
        <div class="recharge-history__item__info">Nội dung: TUAN CHUYEN KHOAN</div>
        <div class="recharge-history__item__info">Mã đơn hàng: 1234567890</div>
        <div class="recharge-history__item__info d-flex">
            <span>21/02/2021 - 10:36</span>
            <span class="recharge-history__item__price">500.000&nbsp;<span class="history__item__price__currency">vnđ</span></span>
        </div>
    </div>
    <div class="recharge-history__item">
        <div class="recharge-history__item__header">3. VIETCOMBANK</div>
        <div class="recharge-history__item__info">Tên tài khoản: chungzet</div>
        <div class="recharge-history__item__info">Nội dung: TUAN CHUYEN KHOAN</div>
        <div class="recharge-history__item__info">Mã đơn hàng: 1234567890</div>
        <div class="recharge-history__item__info d-flex">
            <span>21/02/2021 - 10:36</span>
            <span class="recharge-history__item__price">500.000&nbsp;<span class="history__item__price__currency">vnđ</span></span>
        </div>
    </div>
    <div class="recharge-history__item">
        <div class="recharge-history__item__header">4. VIETCOMBANK</div>
        <div class="recharge-history__item__info">Tên tài khoản: chungzet</div>
        <div class="recharge-history__item__info">Nội dung: TUAN CHUYEN KHOAN</div>
        <div class="recharge-history__item__info">Mã đơn hàng: 1234567890</div>
        <div class="recharge-history__item__info d-flex">
            <span>21/02/2021 - 10:36</span>
            <span class="recharge-history__item__price">500.000&nbsp;<span class="history__item__price__currency">vnđ</span></span>
        </div>
    </div>
    <div class="recharge-history__item">
        <div class="recharge-history__item__header">5. VIETCOMBANK</div>
        <div class="recharge-history__item__info">Tên tài khoản: chungzet</div>
        <div class="recharge-history__item__info">Nội dung: TUAN CHUYEN KHOAN</div>
        <div class="recharge-history__item__info">Mã đơn hàng: 1234567890</div>
        <div class="recharge-history__item__info d-flex">
            <span>21/02/2021 - 10:36</span>
            <span class="recharge-history__item__price">500.000&nbsp;<span class="history__item__price__currency">vnđ</span></span>
        </div>
    </div>
    <div class="recharge-history__item">
        <div class="recharge-history__item__header">6. VIETCOMBANK</div>
        <div class="recharge-history__item__info">Tên tài khoản: chungzet</div>
        <div class="recharge-history__item__info">Nội dung: TUAN CHUYEN KHOAN</div>
        <div class="recharge-history__item__info">Mã đơn hàng: 1234567890</div>
        <div class="recharge-history__item__info d-flex">
            <span>21/02/2021 - 10:36</span>
            <span class="recharge-history__item__price">500.000&nbsp;<span class="history__item__price__currency">vnđ</span></span>
        </div>
    </div>
    <div class="recharge-history__item">
        <div class="recharge-history__item__header">7. VIETCOMBANK</div>
        <div class="recharge-history__item__info">Tên tài khoản: chungzet</div>
        <div class="recharge-history__item__info">Nội dung: TUAN CHUYEN KHOAN</div>
        <div class="recharge-history__item__info">Mã đơn hàng: 1234567890</div>
        <div class="recharge-history__item__info d-flex">
            <span>21/02/2021 - 10:36</span>
            <span class="recharge-history__item__price">500.000&nbsp;<span class="history__item__price__currency">vnđ</span></span>
        </div>
    </div>
    <div class="recharge-history__item">
        <div class="recharge-history__item__header">8. VIETCOMBANK</div>
        <div class="recharge-history__item__info">Tên tài khoản: chungzet</div>
        <div class="recharge-history__item__info">Nội dung: TUAN CHUYEN KHOAN</div>
        <div class="recharge-history__item__info">Mã đơn hàng: 1234567890</div>
        <div class="recharge-history__item__info d-flex">
            <span>21/02/2021 - 10:36</span>
            <span class="recharge-history__item__price">500.000&nbsp;<span class="history__item__price__currency">vnđ</span></span>
        </div>
    </div>
    <div class="recharge-history__item">
        <div class="recharge-history__item__header">9. VIETCOMBANK</div>
        <div class="recharge-history__item__info">Tên tài khoản: chungzet</div>
        <div class="recharge-history__item__info">Nội dung: TUAN CHUYEN KHOAN</div>
        <div class="recharge-history__item__info">Mã đơn hàng: 1234567890</div>
        <div class="recharge-history__item__info d-flex">
            <span>21/02/2021 - 10:36</span>
            <span class="recharge-history__item__price">500.000&nbsp;<span class="history__item__price__currency">vnđ</span></span>
        </div>
    </div>
    <a href="#" class="recharge-history__loadmore">
        <span>Xem thêm&nbsp;<i class="fas fa-caret-down"></i></span>
    </a>
</div>