<div class="content">
    <div class="recharge">
        <div class="row m-0">
            <div class="col-sm-6 col-xs-12 pl-0">
                <div class="recharge__col">
                    <div class="recharge__header">Nạp tiền qua Vietcombank</div>
                    <div class="recharge__logo text-center">
                        <img width="55" src="images/vietcombank.png" alt="">
                    </div>
                    <div class="recharge__qr text-center">
                        <img width="205" src="images/qr.png" alt="">
                    </div>
                    <div class="recharge__form">
                        <div class="recharge__form__label">Số tài khoản</div>
                        <div class="recharge__form__input">
                            <span>xxx.xxx.123.4567</span>
                            <a href="#">
                                <img width="12" src="images/copy-icon.png" alt="">
                            </a>
                        </div>
                        <div class="recharge__form__label">Tên tài khoản</div>
                        <div class="recharge__form__input">
                            <span>LE ANH TUAN</span>
                        </div>
                        <div class="recharge__form__label">Chi nhánh</div>
                        <div class="recharge__form__input">
                            <span>Đà Nẵng</span>
                        </div>
                        <div class="recharge__form__label">Nội dung chuyển khoản</div>
                        <div class="recharge__form__textarea">
                            <span>TUAN THANH TOAN TIEN</span>
                            <a href="#">
                                <img width="12" src="images/copy-icon.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 pr-0">
                <div class="recharge__col">
                    <div class="recharge__header">Nạp tiền qua Momo</div>
                    <div class="recharge__logo text-center">
                        <img width="55" src="images/momo.png" alt="">
                    </div>
                    <div class="recharge__qr text-center">
                        <img width="205" src="images/qr.png" alt="">
                    </div>
                    <div class="recharge__form">
                        <div class="recharge__form__label">Số điện thoại</div>
                        <div class="recharge__form__input">
                            <span>034.737.7678</span>
                            <a href="#">
                                <img width="12" src="images/copy-icon.png" alt="">
                            </a>
                        </div>
                        <div class="recharge__form__label">Tên tài khoản</div>
                        <div class="recharge__form__input">
                            <span>LE ANH TUAN</span>
                        </div>
                        <div class="recharge__form__label">Nội dung chuyển khoản</div>
                        <div class="recharge__form__textarea">
                            <span>TUAN THANH TOAN TIEN</span>
                            <a href="#">
                                <img width="12" src="images/copy-icon.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-0">
            <div class="recharge__warning">
                <div class="recharge__warning__header">Chú ý:</div>
                <div class="recharge__warning__content">
                    <ul class="m-0">
                        <li>Nạp sai cú pháp hoặc sai số tài khoản sẽ bị trừ 10% phí giao dịch. tối đa trừ 50.000 Coin. Ví dụ nạp sai 100.000
                            trừ 10.000, 200.000 trừ 20.000, 500.000 trừ 50.000, 1 triệu trừ 50.000, 10 triệu trừ 50.000...</li>
                        <li>Số tiền chuyển khoản tối thiểu 1 lần là 10.000 VNĐ</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="right-menu">
    <div class="recharge-history">
        <div class="recharge-history__header">Nhật ký nạp tiền</div>
        <div class="recharge-history__item">
            <div class="recharge-history__item__header">1. VIETCOMBANK</div>
            <div class="recharge-history__item__info">Tên tài khoản: chungzet</div>
            <div class="recharge-history__item__info">Nội dung: TUAN CHUYEN KHOAN</div>
            <div class="recharge-history__item__info">Mã đơn hàng: 1234567890</div>
            <div class="recharge-history__item__info d-flex">
                <span>21/02/2021 - 10:36</span>
                <span class="recharge-history__item__price">500.000&nbsp;<span class="history__item__price__currency">vnđ</span></span>
            </div>
        </div>
        <div class="recharge-history__item">
            <div class="recharge-history__item__header">2. VIETCOMBANK</div>
            <div class="recharge-history__item__info">Tên tài khoản: chungzet</div>
            <div class="recharge-history__item__info">Nội dung: TUAN CHUYEN KHOAN</div>
            <div class="recharge-history__item__info">Mã đơn hàng: 1234567890</div>
            <div class="recharge-history__item__info d-flex">
                <span>21/02/2021 - 10:36</span>
                <span class="recharge-history__item__price">500.000&nbsp;<span class="history__item__price__currency">vnđ</span></span>
            </div>
        </div>
        <div class="recharge-history__item">
            <div class="recharge-history__item__header">3. VIETCOMBANK</div>
            <div class="recharge-history__item__info">Tên tài khoản: chungzet</div>
            <div class="recharge-history__item__info">Nội dung: TUAN CHUYEN KHOAN</div>
            <div class="recharge-history__item__info">Mã đơn hàng: 1234567890</div>
            <div class="recharge-history__item__info d-flex">
                <span>21/02/2021 - 10:36</span>
                <span class="recharge-history__item__price">500.000&nbsp;<span class="history__item__price__currency">vnđ</span></span>
            </div>
        </div>
        <div class="recharge-history__item">
            <div class="recharge-history__item__header">4. VIETCOMBANK</div>
            <div class="recharge-history__item__info">Tên tài khoản: chungzet</div>
            <div class="recharge-history__item__info">Nội dung: TUAN CHUYEN KHOAN</div>
            <div class="recharge-history__item__info">Mã đơn hàng: 1234567890</div>
            <div class="recharge-history__item__info d-flex">
                <span>21/02/2021 - 10:36</span>
                <span class="recharge-history__item__price">500.000&nbsp;<span class="history__item__price__currency">vnđ</span></span>
            </div>
        </div>
        <div class="recharge-history__item">
            <div class="recharge-history__item__header">5. VIETCOMBANK</div>
            <div class="recharge-history__item__info">Tên tài khoản: chungzet</div>
            <div class="recharge-history__item__info">Nội dung: TUAN CHUYEN KHOAN</div>
            <div class="recharge-history__item__info">Mã đơn hàng: 1234567890</div>
            <div class="recharge-history__item__info d-flex">
                <span>21/02/2021 - 10:36</span>
                <span class="recharge-history__item__price">500.000&nbsp;<span class="history__item__price__currency">vnđ</span></span>
            </div>
        </div>
        <div class="recharge-history__item">
            <div class="recharge-history__item__header">6. VIETCOMBANK</div>
            <div class="recharge-history__item__info">Tên tài khoản: chungzet</div>
            <div class="recharge-history__item__info">Nội dung: TUAN CHUYEN KHOAN</div>
            <div class="recharge-history__item__info">Mã đơn hàng: 1234567890</div>
            <div class="recharge-history__item__info d-flex">
                <span>21/02/2021 - 10:36</span>
                <span class="recharge-history__item__price">500.000&nbsp;<span class="history__item__price__currency">vnđ</span></span>
            </div>
        </div>
        <div class="recharge-history__item">
            <div class="recharge-history__item__header">7. VIETCOMBANK</div>
            <div class="recharge-history__item__info">Tên tài khoản: chungzet</div>
            <div class="recharge-history__item__info">Nội dung: TUAN CHUYEN KHOAN</div>
            <div class="recharge-history__item__info">Mã đơn hàng: 1234567890</div>
            <div class="recharge-history__item__info d-flex">
                <span>21/02/2021 - 10:36</span>
                <span class="recharge-history__item__price">500.000&nbsp;<span class="history__item__price__currency">vnđ</span></span>
            </div>
        </div>
        <div class="recharge-history__item">
            <div class="recharge-history__item__header">8. VIETCOMBANK</div>
            <div class="recharge-history__item__info">Tên tài khoản: chungzet</div>
            <div class="recharge-history__item__info">Nội dung: TUAN CHUYEN KHOAN</div>
            <div class="recharge-history__item__info">Mã đơn hàng: 1234567890</div>
            <div class="recharge-history__item__info d-flex">
                <span>21/02/2021 - 10:36</span>
                <span class="recharge-history__item__price">500.000&nbsp;<span class="history__item__price__currency">vnđ</span></span>
            </div>
        </div>
        <div class="recharge-history__item">
            <div class="recharge-history__item__header">9. VIETCOMBANK</div>
            <div class="recharge-history__item__info">Tên tài khoản: chungzet</div>
            <div class="recharge-history__item__info">Nội dung: TUAN CHUYEN KHOAN</div>
            <div class="recharge-history__item__info">Mã đơn hàng: 1234567890</div>
            <div class="recharge-history__item__info d-flex">
                <span>21/02/2021 - 10:36</span>
                <span class="recharge-history__item__price">500.000&nbsp;<span class="history__item__price__currency">vnđ</span></span>
            </div>
        </div>
        <a href="#" class="recharge-history__loadmore">
            <span>Xem thêm&nbsp;<i class="fas fa-caret-down"></i></span>
        </a>
    </div>
</div>
