<link rel="stylesheet" href="css/pages/reset-password.css">
<div class="content">
    <div class="reset-password">
        <div class="reset-password__header">Thay đổi mật khẩu</div>
        <div class="reset-password__info">
            <div class="reset-password__info__group row">
                <div class="col-12 col-sm-4 p-0 reset-password__info__label">Mật khẩu cũ</div>
                <div class="col-12 col-sm-8 p-0 reset-password__info__value">
                    <input type="password" placeholder="***************">
                </div>
            </div>
            <div class="reset-password__info__group row">
                <div class="col-12 col-sm-4 p-0 reset-password__info__label">Mật khẩu mới</div>
                <div class="col-12 col-sm-8 p-0 reset-password__info__value">
                    <input type="password" placeholder="***************">
                </div>
            </div>
            <div class="reset-password__info__group row">
                <div class="col-12 col-sm-4 p-0 reset-password__info__label">Xác nhận mật khẩu mới</div>
                <div class="col-12 col-sm-8 p-0 reset-password__info__value">
                    <input type="password" placeholder="***************">
                </div>
            </div>
            <div class="m-0 row">
                <button class="reset-password__btn">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
<div class="right-menu">
</div>