<link rel="stylesheet" href="css/pages/transaction-history.css">
<div class="content">
    <div class="transaction-history">
        <div class="d-flex align-items-center mb-3">
            <span class="mr-3">Tìm kiếm</span>
            <div class="transaction-history__search">
                <input type="text" name="search" placeholder="Nhập từ khóa"/>
                <img width="18" src="images/search-icon.png" alt="">
            </div>
            <div class="transaction-history__filter align-items-center">
                <span class="mr-3">Số dòng</span>
                <div id="table_filter" class="table-filter">
                    <div class="table-filter__text mr-1">50</div>
                    <i class="fas fa-caret-down"></i>
                </div>
                <div style="display: none;" id="table_filter_select" class="table-filter-items">
                    <ul>
                        <li data-value="50">50</li>
                        <li data-value="100">100</li>
                        <li data-value="150">150</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Mã đơn hàng</th>
                        <th scope="col">Người dùng</th>
                        <th scope="col">Loại</th>
                        <th scope="col">Hành động</th>
                        <th scope="col">Ghi chú</th>
                        <th scope="col">Ngày tạo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>123456789</td>
                        <td>leanhtuan255</td>
                        <td>Tăng Like Fanpage</td>
                        <td>
                            <span class="blue-text">10000</span>
                            -
                            <span class="red-text">10000</span>
                            =
                            <span class="yellow-text">7000</span>
                        </td>
                        <td width="100">Bạn vừa mua gói tăng like fanpage thành công</td>
                        <td>
                            <strong>03-04-2021</strong>
                            <br>
                            15:21:08
                        </td>
                    </tr>
                    <tr>
                        <td>123456789</td>
                        <td>leanhtuan255</td>
                        <td>Tăng Like Fanpage</td>
                        <td>
                            <span class="blue-text">10000</span>
                            -
                            <span class="red-text">10000</span>
                            =
                            <span class="yellow-text">7000</span>
                        </td>
                        <td width="100">Bạn vừa mua gói tăng like fanpage thành công</td>
                        <td>
                            <strong>03-04-2021</strong>
                            <br>
                            15:21:08
                        </td>
                    </tr>
                    <tr>
                        <td>123456789</td>
                        <td>leanhtuan255</td>
                        <td>Tăng Like Fanpage</td>
                        <td>
                            <span class="blue-text">10000</span>
                            -
                            <span class="red-text">10000</span>
                            =
                            <span class="yellow-text">7000</span>
                        </td>
                        <td width="100">Bạn vừa mua gói tăng like fanpage thành công</td>
                        <td>
                            <strong>03-04-2021</strong>
                            <br>
                            15:21:08
                        </td>
                    </tr>
                    <tr>
                        <td>123456789</td>
                        <td>leanhtuan255</td>
                        <td>Tăng Like Fanpage</td>
                        <td>
                            <span class="blue-text">10000</span>
                            -
                            <span class="red-text">10000</span>
                            =
                            <span class="yellow-text">7000</span>
                        </td>
                        <td width="100">Bạn vừa mua gói tăng like fanpage thành công</td>
                        <td>
                            <strong>03-04-2021</strong>
                            <br>
                            15:21:08
                        </td>
                    </tr>
                    <tr>
                        <td>123456789</td>
                        <td>leanhtuan255</td>
                        <td>Tăng Like Fanpage</td>
                        <td>
                            <span class="blue-text">10000</span>
                            -
                            <span class="red-text">10000</span>
                            =
                            <span class="yellow-text">7000</span>
                        </td>
                        <td width="100">Bạn vừa mua gói tăng like fanpage thành công</td>
                        <td>
                            <strong>03-04-2021</strong>
                            <br>
                            15:21:08
                        </td>
                    </tr>
                    <tr>
                        <td>123456789</td>
                        <td>leanhtuan255</td>
                        <td>Tăng Like Fanpage</td>
                        <td>
                            <span class="blue-text">10000</span>
                            -
                            <span class="red-text">10000</span>
                            =
                            <span class="yellow-text">7000</span>
                        </td>
                        <td width="100">Bạn vừa mua gói tăng like fanpage thành công</td>
                        <td>
                            <strong>03-04-2021</strong>
                            <br>
                            15:21:08
                        </td>
                    </tr>
                    <tr>
                        <td>123456789</td>
                        <td>leanhtuan255</td>
                        <td>Tăng Like Fanpage</td>
                        <td>
                            <span class="blue-text">10000</span>
                            -
                            <span class="red-text">10000</span>
                            =
                            <span class="yellow-text">7000</span>
                        </td>
                        <td width="100">Bạn vừa mua gói tăng like fanpage thành công</td>
                        <td>
                            <strong>03-04-2021</strong>
                            <br>
                            15:21:08
                        </td>
                    </tr>
                    <tr>
                        <td>123456789</td>
                        <td>leanhtuan255</td>
                        <td>Tăng Like Fanpage</td>
                        <td>
                            <span class="blue-text">10000</span>
                            -
                            <span class="red-text">10000</span>
                            =
                            <span class="yellow-text">7000</span>
                        </td>
                        <td width="100">Bạn vừa mua gói tăng like fanpage thành công</td>
                        <td>
                            <strong>03-04-2021</strong>
                            <br>
                            15:21:08
                        </td>
                    </tr>
                    <tr>
                        <td>123456789</td>
                        <td>leanhtuan255</td>
                        <td>Tăng Like Fanpage</td>
                        <td>
                            <span class="blue-text">10000</span>
                            -
                            <span class="red-text">10000</span>
                            =
                            <span class="yellow-text">7000</span>
                        </td>
                        <td width="100">Bạn vừa mua gói tăng like fanpage thành công</td>
                        <td>
                            <strong>03-04-2021</strong>
                            <br>
                            15:21:08
                        </td>
                    </tr>
                    <tr>
                        <td>123456789</td>
                        <td>leanhtuan255</td>
                        <td>Tăng Like Fanpage</td>
                        <td>
                            <span class="blue-text">10000</span>
                            -
                            <span class="red-text">10000</span>
                            =
                            <span class="yellow-text">7000</span>
                        </td>
                        <td width="100">Bạn vừa mua gói tăng like fanpage thành công</td>
                        <td>
                            <strong>03-04-2021</strong>
                            <br>
                            15:21:08
                        </td>
                    </tr>
                    <tr>
                        <td>123456789</td>
                        <td>leanhtuan255</td>
                        <td>Tăng Like Fanpage</td>
                        <td>
                            <span class="blue-text">10000</span>
                            -
                            <span class="red-text">10000</span>
                            =
                            <span class="yellow-text">7000</span>
                        </td>
                        <td width="100">Bạn vừa mua gói tăng like fanpage thành công</td>
                        <td>
                            <strong>03-04-2021</strong>
                            <br>
                            15:21:08
                        </td>
                    </tr>
                    <tr>
                        <td>123456789</td>
                        <td>leanhtuan255</td>
                        <td>Tăng Like Fanpage</td>
                        <td>
                            <span class="blue-text">10000</span>
                            -
                            <span class="red-text">10000</span>
                            =
                            <span class="yellow-text">7000</span>
                        </td>
                        <td width="100">Bạn vừa mua gói tăng like fanpage thành công</td>
                        <td>
                            <strong>03-04-2021</strong>
                            <br>
                            15:21:08
                        </td>
                    </tr>
                    <tr>
                        <td>123456789</td>
                        <td>leanhtuan255</td>
                        <td>Tăng Like Fanpage</td>
                        <td>
                            <span class="blue-text">10000</span>
                            -
                            <span class="red-text">10000</span>
                            =
                            <span class="yellow-text">7000</span>
                        </td>
                        <td width="100">Bạn vừa mua gói tăng like fanpage thành công</td>
                        <td>
                            <strong>03-04-2021</strong>
                            <br>
                            15:21:08
                        </td>
                    </tr>
                    <tr>
                        <td>123456789</td>
                        <td>leanhtuan255</td>
                        <td>Tăng Like Fanpage</td>
                        <td>
                            <span class="blue-text">10000</span>
                            -
                            <span class="red-text">10000</span>
                            =
                            <span class="yellow-text">7000</span>
                        </td>
                        <td width="100">Bạn vừa mua gói tăng like fanpage thành công</td>
                        <td>
                            <strong>03-04-2021</strong>
                            <br>
                            15:21:08
                        </td>
                    </tr>
                    <tr>
                        <td>123456789</td>
                        <td>leanhtuan255</td>
                        <td>Tăng Like Fanpage</td>
                        <td>
                            <span class="blue-text">10000</span>
                            -
                            <span class="red-text">10000</span>
                            =
                            <span class="yellow-text">7000</span>
                        </td>
                        <td width="100">Bạn vừa mua gói tăng like fanpage thành công</td>
                        <td>
                            <strong>03-04-2021</strong>
                            <br>
                            15:21:08
                        </td>
                    </tr>
                    <tr>
                        <td>123456789</td>
                        <td>leanhtuan255</td>
                        <td>Tăng Like Fanpage</td>
                        <td>
                            <span class="blue-text">10000</span>
                            -
                            <span class="red-text">10000</span>
                            =
                            <span class="yellow-text">7000</span>
                        </td>
                        <td width="100">Bạn vừa mua gói tăng like fanpage thành công</td>
                        <td>
                            <strong>03-04-2021</strong>
                            <br>
                            15:21:08
                        </td>
                    </tr>
                    <tr>
                        <td>123456789</td>
                        <td>leanhtuan255</td>
                        <td>Tăng Like Fanpage</td>
                        <td>
                            <span class="blue-text">10000</span>
                            -
                            <span class="red-text">10000</span>
                            =
                            <span class="yellow-text">7000</span>
                        </td>
                        <td width="100">Bạn vừa mua gói tăng like fanpage thành công</td>
                        <td>
                            <strong>03-04-2021</strong>
                            <br>
                            15:21:08
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center pagination">
            <a class="prev" href="#"><i class="fas fa-chevron-left"></i></a>
            <a class="pagination__page selected" href="#">1</a>
            <a class="pagination__page" href="#">2</a>
            <a class="pagination__page" href="#">3</a>
            <a class="pagination__page" href="#">4</a>
            <a class="next" href="#"><i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
</div>
<script src="js/pages/transaction-history.js"></script>